.max-line-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.white_background {
  background-color: white;
}

.product_picture {
  width: 100%;
  object-fit: contain;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.product_detail_info_amount {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.price_section {
  color: #C00000;
  font-weight: bold;
}

.buy_cart_section {
  width: 70%;
  display: flex;
  justify-content: left;
}

.buy_cart_button {
  display: inline;
  padding: 4px;
  border: 1px solid #C00000;
  border-radius: 6px;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.add_cart_button {
  background-color: #C00000;
  color: #F8F9FC;
  border-color: #C00000;
}

.add_wishlist_button {
  background-color: white;
  color: #C00000;
  border-color: #C00000;
}

.quantity_button {
  width: 100px;
  border: 2px solid #C00000;
  border-radius: 8px;
  margin-left: 1rem;
  display: flex;
  text-align: center;
}

.minus_plus_button {
  font-size: 1.2rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: white;
}

.minus_plus_button:hover {
    filter: brightness(0.9);
}

.quantity_text {
  width: 40%;
  display: flex;
  text-align: center;
  border: none;
}

.ar_product {
  width: 100%;
}

.name_ar_product {
  width: 60%;
  text-align: center;
}

.ar_product_image {
  height: 200px;
  max-width: 100%;
  margin-bottom: 1rem;
}

.Xem_them_grid {
  display: flex;
  justify-content: center;
}

.Xem_them_button {
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-style: solid;
  border-color: #C00000;
  color: #C00000;
}

.start_rating_number {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Start_rating {
  display: flex;
  justify-content: center;
}

.comment_grid {
  width: 100%;
  background-color: white;
  margin-bottom: 1rem; 
}

.comment_content {
  margin-bottom: 1rem;
}

.comment_time {
  color: #F7B32D;
}

hr {
  color: #C00000;
  width: 75%;
}

.label_wcc {
  display: block;
  margin-bottom: 1rem;
}

.comment_box {
  width: 100%;
  max-width: 600px;
  border-radius: 4px;
  border-style: solid;
  border-color: #C00000;
  padding: 10px;
  margin-bottom: 1.5rem;
  display: block;
}

.submit_grid {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_button {
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  width: 150px;
  height: 30px;
  border-style: solid;
  border-color: #C00000;
  color: #C00000;
}