.logo-image{
    border: 1px solid #7B7B7B;
    border-radius: 8px;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    width: 19rem;
}
.logo-name{
    font-size: 2rem;
    color: #c00000;
    font-weight: bold;
    margin-left: 10px;
}

.file-label {
    padding: 5px;
    background-color: white;
    border: 1.5px solid #c00000;
    border-radius: 8px;
    cursor: pointer;
    color: #c00000;
    font-weight: bold;
}